<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
      <form method="post" action="ResultadoAlta">
        {% csrf_token %}
          <h4>Introduzca los datos para una nueva alta de departamento:</h4>
          DEPT_NO: <input type="text" name="dept_no" /><br/><br/>
          DNOMBRE: <input type="text" name="dnombre" /><br/><br/>
          LOCALIZACION: <input type="text" name="loc" /><br/><br/>
          <input type="submit" value="Alta">
    </form>

</body>
</html>