<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
      <form method="post" action="formulario">
        {% csrf_token %}
          <h1>DEPARTAMENTOS</h1>
          DEPT_NO: <input type="text" name="dept_no" /><br/><br/>
          DNOMBRE: <input type="text" name="dnombre" /><br/><br/>
          LOCALIZACION: <input type="text" name="loc" /><br/><br/>
           <div>
                <button type="submit" name="operacion" value="Insertar">Insertar</button>
                <button type="submit" name="operacion" value="Modificar">Modificar</button>
                <button type="submit" name="operacion" value="Eliminar">Eliminar</button>
           </div>
      </form>
{% if condicional1 %}
      <p>{{operacion}} realizada con exito</p>
{% endif %}
</body>
</html>