<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <div class="container">
				<ul class="social-links text-center">
					<li><a href="https://github.com/ivichec" target="_blank"><img src="{% static 'logos/descarga.png'%}" alt="github" width="60" height="60"></a></li>
					<li><a href="https://www.linkedin.com/in/ivancheca" target="_blank"><img src="{% static 'logos/descarga1.png'%}" alt="Linkedin" width="60" height="60"></i></a></li>
				</ul>
				<p class="text-center">&copy; 2024 - Iván Checa García</p>
      </div>
</body>
</html>